
<div ng-app="historiques" ng-controller="clientsCtrl" js-modules>

	 <div class="tab-content">

	  <div class="tab-conteneurMessage">

	   <!--////////////////////////  Colonnes ////////////////////////-->
	              <table class="tab_commandes tableaux"  >

	                      <tr>
	                        <th>
	                        	<div class="tab-triWrapper">
	                             <div class="tab-tri"></div>
	                             <div>Catégories</div>
	                          </div>
	                        </th>
	                        <th>
	                         <div class="tab-triWrapper">
	                             <div class="tab-tri"></div>
	                             <div>Date</div>
	                          </div>
	                        </th>   
	                        <th>
	                          <div class="tab-triWrapper">
	                             <div class="tab-tri"></div>
	                             <div>Statut</div>
	                          </div>
	                        </th>
	                        <th></th>   
	                        <th></th>
	                     </tr>
	               
	            <!--//////////////////////// Ligne commande ////////////////////////-->

	                     <tr ng-show="!listHistoriques.length" class="no-data">
	                        <td colspan="5" rowspan="5"><h2 class="listeVide">Aucun historique à afficher</h2></td>
	                     </tr>
	                  
	                    
	                     <tr ng-repeat="historique in listHistoriques | orderBy:'-date'">
	                         <td class="tab-blueImportant">{{historique.cat}}</td>
	                         <td><p>{{ historique.date | date : 'M/d/yy h:mm a'}}</p></td>    
	                         <td class="tab-status">
	                              <div class="tad-statutCartouche"><p>{{historique.statue}}</p></div>
	                          </td>
	                          <td class="tabVoir">
	                            <div class="tab-conteneurAction js-popUp">
	                                <span class="tab-iconVoir icone"></span>
	                                <p ng-click="getHistorique(historique)">Voir</p>
	                            </div>
	                          </td>
	 
	                      </tr>   

	                     

	               </table>

	  </div>
	</div>

  	<ng-include id="historique_details" src="'modules/details_popup/view/popUpInfoSup.html'"></ng-include>

</div>