<div class="m-popupMdp">
  <div class="popupMdp-btnClose">
     <span class="icone popupMdp-iconeClose"></span>   
  </div>
  <form action="#" class="popupMdp-form">
     <h2 class="popupMdp-text">Veuillez indiquer votre adresse mail afin de réinitialiser votre mot de passe</h2>
     <!--<p class="error-message">Cette adresse mail n'existe pas !</p>-->
     <div class="popupMdp-formFildWrapper">
        <span class="icone popupMdp-iconeMail"></span>   
        <input type="email" class="popupMdpMail" placeholder="Votre adresse email" required="required">
      </div>

      <div class="SubmitFiledWrapper">   
        <input type="submit" class="popupMdp-submit submit" value="ENVOYER">
      </div>
  </form>

</div>
<div class="aplat"></div>