/* ======================
   Layout/Module/graph
   ======================= */


/* --------------------------------- GRAPH --------------------------- */


.m-graph{
    height:344px;
    width:100%;
    position:relative;
    margin-top: 25px;


        .graph_index {
            clear: both;
            height: 43px;

            .index_light{
            	color:#a3b5b6 !important;
            }

            .index{
        		color: white;
        	    float: left;
        	    font-size: 11px;
            }

            .trait{
        		background: none repeat scroll 0 0 #a3b5b6;
        	    float: left;
        	    height: 1px;
        	    margin-left: 19px;
        	    margin-top: 7px;
        	    opacity: 0.26;
        	    width: 93%;
            }
        }

        .myChart{
            @include centre(both);
            height:344px;
            width:100%;
        }

}


/* --------------------------------- GRAPH SIDEBAR --------------------------- */

.graph_sidebar{
    float: right;
    height: 100%;
    width: 12.825%;
    //box-shadow: 3px 0 29px #000;

       
        .graph-tab{
        	background-image: linear-gradient(45deg, #8ca9b6 1%, #50707f 100%);
            background-size: 100% auto;
            cursor: pointer;
            height: 33.3%;
            position: relative;
            width: 100%;
                &:hover{
                    background-image: linear-gradient(45deg, #7b98a5 1%, #40606f 100%);
                    background-size: 100% auto;
                }
        } 

        .graph-tab_active{
            background: url(../img/bg-sidebarGraph.png) 50%;
        	//background-image: linear-gradient(to right, #192e3f, #081428);
            background-size: 100% auto;
            height: 33.3%;
            width: 100%;
                 &:hover{
                    background: url(../img/bg-sidebarGraph.png) 50%;
                    background-size: 100% auto;
                }         
        }

        .graph-tab_active p {
            color: white !important;
        }

        .graph-tab p {
            color: #000000;
            font-family: $fontBold;
            padding-right: 10px;
            padding-top: 43px;
            text-align: right;
        }

        .graph-tab h3 {
            color: white;
            font-family: $fontBold;
            font-size: 14px;
            padding-right: 10px;
            padding-top: 8px;
            text-align: right;
        }

        .graph-tab .graph-tabPourcent {
            color: #00ff36;
            font-family: $fontBold;
            font-size: 12px;
            padding-right: 10px;
            padding-top: 8px;
            float:left;
        }

        .graph-tab .graph-tabMoin{
            color: $light-red;
        }


        .graph-triangleSelection {
            border-color: transparent transparent transparent #0d6e89;
            border-style: solid;
            border-width: 8px 0 8px 13.9px;
            display: none;
            height: 0;
            left: 0;
            position: absolute;
            top: 61px;
            width: 0;
        }

        .graph-tab_active .graph-triangleSelection {
            display: block !important;
        }


        .graph-tabPourcentWrapper{
            display: inline-block;
            float:right;
        }

        .sensPourcentMoin{
            display:block;
            @include icon( "before", triangle);
            color:$dark-red;
            @include transform(rotate(90deg));
            float:left;
            font-size: 12px;
            line-height: 26px;
            margin-right: 4px;
        }

        .sensPourcentPlus{
             display:block;
            @include icon( "before", triangle);
            color:$light-green;
            @include transform(rotate(-90deg));
            float:left;
            font-size: 12px;
            line-height: 26px;
            margin-right: 4px;
        }
}


.iconeGraph{
     @include icon( "before", graph);
 }