/* ===========================
   form
   =========================== */

.champ_obligatoire
{
    background: url("../img/icon_champ_obligatoire.png") no-repeat scroll 98% center,
    white !important;
}

input{
	@include transition(all 0.6s ease-in-out);
	box-shadow:none;
}



input:focus:invalid, textarea:focus:invalid
{
	// @include box-shadow($light-red 0 0 5px);
	border-color:$light-red !important;
}

.formValid:focus:valid, .formValid:focus:valid
{
	// @include box-shadow($light-green 0 0 5px);
	border-color:$green !important;
}

